<core-header-panel flex>

  <core-toolbar>
    <paper-tabs class="fit" selected="messages" flex>
      <paper-tab name="messages">Messages</paper-tab>
      <paper-tab name="favorites">Favorites</paper-tab>
    </paper-tabs>
  </core-toolbar>

  <div class="container" layout vertical center>

    <% @users.each do |user| %>
      <div class="post-card">
        <div class="card-header" layout horizontal center>
          <% avatar_name = 'avatar-' + sprintf("%02d", user.id) + '.svg' %>
          <%= image_tag avatar_name, width: "70", height: "70"%>
          <h2><%= user.name %></h2>
        </div>
        <p><%= user.memo %></p>
      </div>
    <% end %>

  </div>

</core-header-panel>
