<link rel="import" href="/post-list.html">

<core-header-panel flex>

  <core-toolbar>
    <paper-tabs class="fit" selected="messages" flex>
      <paper-tab name="messages">Messages</paper-tab>
      <paper-tab name="favorites">Favorites</paper-tab>
    </paper-tabs>
  </core-toolbar>

  <div class="container" layout vertical center>

    <post-list show="messages"></post-list>

  </div>

</core-header-panel>
