<link rel="import" href="/post-card.html">

<core-header-panel flex>

  <core-toolbar>
    <paper-tabs class="fit" selected="messages" flex>
      <paper-tab name="messages">Messages</paper-tab>
      <paper-tab name="favorites">Favorites</paper-tab>
    </paper-tabs>
  </core-toolbar>

  <div class="container" layout vertical center>

    <post-card>
      <%= image_tag 'avatar-07.svg', width: "70", height: "70"%>
      <h2>Another Developer</h2>
      <p>I'm composing with shadow DOM!</p>
    </post-card>

  </div>

</core-header-panel>
